@{
    ViewData["Title"] = "Image Generator";
}

<div class="container mt-3">
    <h2>Dynamic Image Generator</h2>

    <component type="typeof(BeanScene.Web.Components.ImageGenerator)"
               render-mode="ServerPrerendered" />
</div>
